<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container" style="margin-top: 40px">
        <h1>Error 404!</h1>
        <p>Could not find the page you were looking for.</p>
    </main>
    

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>

<%- include('./partials/end.ejs') %>