<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        <div class="row">
            <div class="col main-info">
                <h1>Hello! This is Pokedex-Express.</h1>
                <p>This is a mini project made to learn NodeJS, EJS, Express and API Calls</p>
                <p>Only Kanto Region Pokemon from number 1 to 151 are available.</p>
            </div>
        </div>

        <div class="pokemon">
            <% for(let i = 0; i < 151; i++) { %>
            <div class="curr-pokemon">
                <a href="/pokemon/<%= data[i].pokeID %>">
                    <img src="<%= data[i].images[0].sprite %>" alt="<%= data[i].name %>">
                    <span><%= data[i].name %></span>
                </a>
            </div>
            <% } %>
        </div>


    </main>

    <%- include('./partials/footer.ejs') %>
</body>

<%- include('./partials/end.ejs') %>