<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container pokedex d-flex justify-content-center flex-column">
        <header class="typewriter">
            <h1 class="target-typewriter">Pokedex Entries</h1>
            <p>Click on each pokemon to find out more.</p>
        </header>

        <table class="table pokedex-table w-auto table-bordered">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Sprite</th>
                    <th scope="col">Name</th>
                    <th scope="col">Types</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < 151; i++) { %>
                <tr>
                    <th scope="row" class="align-middle">
                        #<%= String(data[i].pokeID).padStart(3, '0') %>
                    </th>
                    <td class="align-middle pokedex-img-cell">
                        <a href="/pokemon/<%= data[i].pokeID %>">
                            <img src="<%= data[i].images[0].partySprite %>" alt="<%= data[i].name %>"
                                class="align-self-center">
                        </a>

                    </td>
                    <td class="align-middle">
                        <% let name = data[i].name %>
                        <% name = name.charAt(0).toUpperCase() + name.slice(1) %>
                        <a href="/pokemon/<%= data[i].pokeID %>"><span><%= name %></span></a>
                    </td>
                    <td class="align-middle">
                        <div class="pokedex-types">
                            <span class="pixel-font pokemon_type
                    pokemon_type_<%=data[i].types[0].type1%>"><%= data[i].types[0].type1.toUpperCase() %></span>
                            <% if(data[i].types[0].type2 !== undefined) { %>
                            <span class="pixel-font pokemon_type
                    pokemon_type_<%=data[i].types[0].type2%>"><%= data[i].types[0].type2.toUpperCase() %></span>
                        </div>

                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>

<%- include('./partials/end.ejs') %>