<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <div class="pokemon-main">
            <h1 class="pokemon-name"><%= data.name %></h1>
            <h2 class="pokemon-id"><%= data.pokeID %></h2>
            <img src="<%= data.sprite %>" alt="<%= data.name %>">
            <div class="pokemon-types">
                <span
                    class="pixel-font pokemon_type pokemon_type_<%=data.type1%>"><%= data.type1.toUpperCase() %></span>
                <% if(data.type2 !== undefined) { %>
                <span
                    class="pixel-font pokemon_type pokemon_type_<%=data.type2%>"><%= data.type2.toUpperCase() %></span>
                <% } %>
            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

<%- include('./partials/end.ejs') %>