<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        <div class="pokemon-main">
            <article>
                <header class="typewriter">
                    <div class="typewriter-contents">
                        <% let name = data.name %>
                        <% name = name.charAt(0).toUpperCase() + name.slice(1) %>
                        <h1 class="main-header target-typewriter"><%= name %></h1>
                    </div>
                </header>


                <h2>Description</h2>
                <p><%= data.description %></p>

                <h2>Stats</h2>
                <section class="pokemon-stats">
                    <span class="pokemon-height">Height: <%= data.height %></span>
                    <span class="pokemon-weight">Weight: <%= data.weight %></span>

                    <table id="pokemonStats">
                        <thead>
                            <tr>
                                <th colspan="2">Stats</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>HP: <span class="stat hp"><%= data.stats.hp %></span></th>
                                <td>
                                    <div class="pokemon-stats-statbar"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Attack: <span class="stat att"><%= data.stats.attack %></span></th>
                                <td>
                                    <div class="pokemon-stats-statbar"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Defense: <span class="stat def"><%= data.stats.defense %></span></th>
                                <td>
                                    <div class="pokemon-stats-statbar"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Special Attack: <span class="stat spatt"><%= data.stats.special_attack %></span>
                                </th>
                                <td>
                                    <div class="pokemon-stats-statbar"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Special Defense: <span class="stat spdef"><%= data.stats.special_defense %></span>
                                </th>
                                <td>
                                    <div class="pokemon-stats-statbar"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Speed: <span class="stat spd"><%= data.stats.speed %></span></th>
                                <td>
                                    <div class="pokemon-stats-statbar"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Total: <span class="stat total"></span></th>
                                <td>Sum of Pokemon stats reflected here.</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <!-- Pokemon Abilities -->
                <h2>Abilities</h2>
                <% for(let i = 0; i < data.abilities.length; i++) { %>
                <div class="pokemon-ability">
                    <table class="pokemon_type_<%= data.types[0].type1 %>">
                        <thead>
                            <tr>
                                <% let abilityName = data.abilities[i].name %>
                                <% abilityName = abilityName.charAt(0).toUpperCase() + abilityName.slice(1) %>
                                <th colspan="2"><%= abilityName %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Hidden?</th>
                                <td><%= data.abilities[i].is_hidden %></td>
                            </tr>
                            <tr>
                                <th>Description: </th>
                                <td><%= data.abilities[i].description %></td>
                            </tr>
                            <tr>
                                <th>Effect: </th>
                                <td><%= data.abilities[i].effect %></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <% } %>
            </article>




            <section class="pokemon-widget">
                <div class="pokemon-widget-row">
                    <!-- Pokemon Name -->

                    <h1><%= name %> <span
                            class="pokemon-id pokemon-widget-no">#<%= String(data.pokeID).padStart(3, '0') %></span>
                    </h1>

                    <!-- Pokemon Gene -->
                    <h3 class="pokemon_gene pokemon_type_<%= data.types[0].type1 %>"><%= data.gene %></h3>

                </div>

                <!-- Pokemon Image -->
                <img src="<%= data.images[0].sprite %>" alt="<%= data.name %>">

                <!-- Pokemon Types -->

                <div class="pokemon-widget-types">
                    <span class="pokemon-widget-types-text">Type(s):</span>
                    <span class="pixel-font pokemon_type
                    pokemon_type_<%=data.types[0].type1%>"><%= data.types[0].type1.toUpperCase() %></span>
                    <% if(data.types[0].type2 !== undefined) { %>
                    <span class="pixel-font pokemon_type
                    pokemon_type_<%=data.types[0].type2%>"><%= data.types[0].type2.toUpperCase() %></span>
                    <% } %>
                </div>


            </section>
        </div>


    </main>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>

    <script src="../js/pokemonStats.js"></script>
</body>

<%- include('./partials/end.ejs') %>